:root {
  --dark-primary: rgb(31, 31, 31);
  --light-primary: rgb(36, 80, 36);
}
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark-primary {
  background-color: var(--dark-primary);
}
.light-primary {
  background-color: var(--light-primary);
}
